generator:
  class: sfDoctrineGenerator
  param:
    model_class:           Curso
    theme:                 jroller
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          curso
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:
        fecha: { date_format: dd/MM/yyyy }
        ini_insc: {label: Inicio de Inscripci贸n, date_format: dd/MM/yyyy }
        fin_insc: {label: Fin de Inscripci贸n, date_format: dd/MM/yyyy }
        permite_insc: {label: Permite Inscripci贸n}
        habilitado: {label: Activo}
        logo: {label: Logo Curso}
        foto1: {label: Programa del Curso}
        foto2: {label: Otro archivo del Curso}
        foto3: {label: Foto Extra}
        foto4: {label: Foto Extra}
      list:
        title: Administraci贸n de Cursos
        display: [nombre, fecha, hora, lugar, precio, permite_insc, ini_insc, fin_insc, habilitado]
        object_actions:
          _delete: {label: Eliminar}
          _edit: {label: Modificar}
          inscriptos: ~
          enviar: ~
        actions:
          _new: {label: Cargar Nuevo Curso}
      filter:
        display: [nombre, fecha]
      form:    ~
      edit:
        title: Editar Curso
      new:
        title: Nuevo Curso
