generator:
  class: sfDoctrineGenerator
  param:
    model_class:           DetallePedido
    theme:                 jroller
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          detalle_pedido_detpedidos
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:
        asignacion_lote: {label: lote}
      list: 
        title: Detalle de pedido
        display: [Producto, nro_lote, precio, cantidad, total, asignacion_lote]
#        object_actions: []
        actions:
          asignar_lote: ~
          vender: ~
          imprimir: ~
      filter: {}
      form:    ~
      edit:
        title: Modificar de pedido
        display: [producto_id, nro_lote, precio, cantidad, total]
      new: 
        title: Nuevo de pedido
