@media screen and (min-width: 500px) {
	#nav{
		border:none;
		border:0px;
		margin:0px;
		padding:0px;
		font: 3% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		width:100%;
		background:#0087ca;
		text-align: -webkit-center;
		}
	#nav ul{
		height:35px;
		list-style:none;
		margin:0;
		padding:0;
		width:90%;
		}
	#nav li{
		float:left;
		padding:0px;
		}
	#nav li a{
		background:#0087ca;
		color:#ffffff;
		display:block;
		line-height:35px;
		margin:0px;
		padding:0px 15px;
		text-align:center;
		text-decoration:none;
		font-size: 1.2em;
		}
	#nav li a:hover, #nav ul li:hover a{
		background: #85b5d9;
		color:#fdfdff;
		text-decoration:none;
		font-size: 1.2em;
		}
	#nav li ul{
		background:#0087ca;
		display:none;
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:260px;
		z-index:200;
		}
	#nav li:hover ul{
		display:block;
		
		}
	#nav li li {
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:260px;
		}
	#nav li:hover li a{
		background:none;
		
		}
	#nav li ul a{
		display:block;
		height:35px;
		font-size:12px;
		font-style:normal;
		margin:0px;
		padding:0px 10px 0px 15px;
		text-align:left;
		font-size: 1.2em;
		}
	#nav li ul a:hover, #nav li ul li:hover a{
		background:#85b5d9;
		border:0px;
		color:#fdfdff;
		text-decoration:none;
		font-size: 1.2em;
		}
	.header{
		display: none;
	}
	#cerrar_menu{
		display: none;
	}
}


@media screen and (max-width: 499px) {
	.menujq {
		font-family:Verdana;
		font-weight:bold;
		width:100%;
		height:100%;
		background: #eeeeee;
		color:#00468C;
		z-index: 99999;
		font-size: 0.8rem;
		position: absolute;
		top: 0px;
		left: -400px;
		padding-top: 30px;
	}
	.menujq ul {
		list-style: none;
		width: 100%;
	}
	.menujq a {
		display: block;
		padding: 10px;
		border-bottom: 1px solid #00468C;
		text-decoration: none;
	}

	/* Lista anidada inicialmente oculta */
	.menujq ul ul {
		display: none;
		width: 100%;
	}
	/* Sangrado y segundo color para sub-opciones */
	.menujq ul ul a {
		padding-left: 20px;
	}
	
	.img_cabecera{
		text-align: right;
		width:250px; 
		height: 60px;
		background: url(../images/nti-header.jpg) no-repeat left;
	}
	
	.header{
		text-align: -webkit-center;
		background: url(../images/nti-bg-header.jpg) top repeat-x
	}
}