@media screen and (max-width: 600px) {
  .cabecera img {
    width: 100%
  }
}

body{
  background:#0087ca;
}

.cabecera{
  background-color: #fdfdff;
  text-align: center;
  vertical-align: bottom;
  padding:2rem;
}

.msg_error{
  font-size: 1rem;
  color: #e2da9e;
  font-weight: bold;
  margin: 2rem;
}
.msg_error ul{
  list-style:none;
  margin-left:0px;
}

.form-login {
  text-align: -webkit-center;
}

.form-componente{
    border-radius: 50px;
    border: 1px solid #2d9fd9;
    color: #0087ca;
    width: 250px;
    height: 45px;
    padding-left: 45px;
    background-repeat: no-repeat;
    background-position: 1rem 0.9rem;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
    display: block;
}

.user_icon{background-image:url(../images/user_icon.png);}
.pass_icon{background-image:url(../images/pass_icon.png);}

.form-componente:focus {
  outline: none;
  border: 1px solid #a0d18c;
  color: #0087ca;
}

.boton-login {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  color: #0087ca;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  background-color: #FFFFFF;
  cursor: pointer;
  width: 10rem;
  border: none;
  display: block;
}

.boton-login:hover {
  background: #eeeeee;
  color: #0087ca;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-decoration: none;
}