@media screen and (min-width: 500px) {
  body{
    background:#0087ca;
  }

  .cabecera{
    border-radius: 50%;
    position: fixed;
    top: -265%;
    left: -75%;
    width: 250%;
    height: 300%;
    background-color: #fdfdff;
    text-align: center;
  }

  .cabecera img{
    position: relative; 
    top: 93%;  
  }

  .msg_error{
    height: 3rem;
    font-size: 1rem;
    color: #e2da9e;
    font-weight: bold;
  }
  .msg_error ul{
    list-style:none;
    margin-left:0px;
  }
  
  .form-login {
    position: relative;
    top: 250px;
    width: 100%;
    text-align: -webkit-center;
  }

  .form-componente{
      border-radius: 50px;
      border: 1px solid #2d9fd9;
      color: #0087ca;
      width: 250px;
      height: 45px;
      padding-left: 45px;
      background-repeat: no-repeat;
      background-position: 1rem 0.9rem;
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 1rem;
      display: block;
  }

  .user_icon{background-image:url(../images/user_icon.png);}
  .pass_icon{background-image:url(../images/pass_icon.png);}

  .form-componente:focus {
    outline: none;
    border: 1px solid #a0d18c;
    color: #0087ca;
  }

  .boton-login {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    color: #0087ca;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px;
    background-color: #FFFFFF;
    cursor: pointer;
    width: 10rem;
    border: none;
    display: block;
  }

  .boton-login:hover {
    background: #eeeeee;
    color: #0087ca;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-decoration: none;
  }
}


@media screen and (max-width: 499px) {
  body{
    background:#0087ca;
  }
  .msg_error{
    height: 3rem;
    font-size: 0.8rem;
    color: #e2da9e;
    font-weight: bold;
  }
  .msg_error ul{
    list-style:none;
    margin-left:0px;
  }
  
  .cabecera{
    border-radius: 50%;
    position: fixed;
    top: -270%;
    left: -150%;
    width: 400%;
    height: 300%;
    background-color: #fdfdff;
    text-align: center;
  }

  .cabecera img{
    position: relative; 
    top: 92%;  
  }

  .form-login {
    position: fixed;
    top: 210px;
    width: 100%;
    text-align: -webkit-center;
  }

  .form-componente{
      border-radius: 50px;
      border: 1px solid #2d9fd9;
      color: #0087ca;
      height: 2.8rem;
      padding-left: 2.8rem;
      background-repeat: no-repeat;
      background-position: 1rem 0.9rem;
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 1rem;
  }

  .user_icon{background-image:url(../images/user_icon.png);}
  .pass_icon{background-image:url(../images/pass_icon.png);}

  .form-componente:focus {
    outline: none;
    border: 1px solid #a0d18c;
    color: #0087ca;
  }

  .boton-login {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    color: #0087ca;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px;
    background-color: #FFFFFF;
    cursor: pointer;
    width: 50%;
    border: none;
  }

  .boton-login:hover {
    background: #eeeeee;
    color: #0087ca;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-decoration: none;
  }
}